<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular 1.X</title>
    <link rel="stylesheet" href="../angular_sample/css/base.css" type="text/css"/>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../angular_sample/js/services.js"></script>
    <script type="text/javascript" src="../angular_sample/js/directives.js"></script>
    <script type="text/javascript" src="../angular_sample/js/controllers.js"></script>
    <script type="text/javascript" src="../angular_sample/js/app.js"></script>
    <style>
      .red{
        color:red;
        font-size: 18px;
      }
      .green{
        color:green;
      }
    </style>
  </head>
  <body>
    <div ng-controller="citiesCtrl">
            <h4>Use of ng-change</h4>
            <input type="text" ng-model="myNumber" ng-change="multiplicar()"/>
            <h2>{{result}}</h2>

            <hr/>

            <h4>Use of filter</h4>

            <input type="text" ng-model="city.name"/>
            <h2>{{city.name}}</h2>

            <select ng-model="item" ng-options="item.name for item in cities">
              <option>seleccione una ciudad</option>
            </select>
            Ciudad seleccionada{{item.name}}

            <select>
              <option>opcion 1 </option>
              <option ng-selected="true">opcion 2 </option>
            </select>

            <ul>
              <li ng-repeat="city in cities | filter:{name:city.name}">
                <a ng-click="searchCity(city.abbr)">{{ city.abbr }}&nbsp;<span class="red" ng-if="city.name==oneCity.name">{{ oneCity.name }}</span></a>
              </li>
            </ul>
            <h1>{{city.name}}</h1>

            <hr/>
            <h4>Use of button search</h4>

            <input type="text" id="abbr" ng-model="city.abbr"/>
            <input type="button" id="btnBuscar"  ng-click="filtrarCities(city.abbr)" value="search..."/>
            <ul>
              <li ng-repeat="city in cities">
                <a ng-click="searchCity(city.abbr)">{{ city.abbr }}</a>
              </li>
            </ul>

            <hr/>
            <h4>Use of ng-checked </h4>
            <label>Desea information</label>
            <input type="textbox" ng-disabled="!info">
            <input type="checkbox"
                 ng-checked="info"
                 ng-init="info=true"
                 ng-model="info"/><b>{{info}}</b>


            <hr/>

            <h4>Use of ng-class and  ng- if</h4>

            <input type="button" value="calcular" ng-click="x = generateNumber()"  ng-init="x=0"/>
            {{x}}
            <div ng-class="{red:x>5, green:x<=5}" ><!--ng-if="x>5" you can user ng-class="x>5?'green':'red'"-->
              !se cumple la condicion!
            </div>
            <hr/>

            <a target="_blank" href="{{myLink}}">click me!</a>
            <a target="_blank" ng-href="{{myLink}}">click me!</a>

            <img ng-src="http://www.ymaweb.com//assets/img/blog/angularjs-logo.png"/>

            <hr/>

            <h4>Use of ng-submit</h4>

            <form  name="new_city" ng-submit="submitForm()">
              <div ng-repeat="field in fields" ng-form="new_city_form">
                  <input type="text"
                  name="dynamic_input"
                  ng-required="field.isRequired"
                  ng-model="field.name"
                  placeholder="{{field.placeholder}}">
                <div>
                 1.{{ new_city_form.dynamic_input.$dirty }}<br/>
                 2.{{new_city_form.dynamic_input.$invalid}}<br/>
                 3.{{new_city_form.dynamic_input.$error}}<br/>
                 4.{{new_city_form.dynamic_input.$error.required}}<br/>
               </div>
              </div>
              <button type="submit">Enviar</button>
            </form>

    </div>
  </body>
</html>
